<div id="news">
	<div class="container">
		<div class="section_header">
			<h3><img src="/assets/icons/newsicon.png"> Latest news</h3>
		</div>
		<%= render :partial => 'ecm/news/items/item_on_home', :collection => @items, :as => :item %>
	</div>
</div>
